// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: #FF0000;
}


p {
	color: #FFCCCC;
}


header {
	font-family: Tahoma;
}
